body{
	margin: 0;
	padding: 0;

	/*font-family: 'RobotoDraft', 'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif;*/
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 3rem;
	line-height: 2rem;
	letter-spacing: 0.01rem;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}
::selection {
  background: #FFFF00; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #FFFF00; /* Gecko Browsers */
}

.disable-anchor{
  pointer-events: none !important;
  cursor: default !important;
}

.enable-anchor{
  pointer-events: initial !important;
  cursor: pointer !important;
  color: black;
}

.enable-anchor:hover{
  pointer-events: initial !important;
  cursor: pointer !important;
  color: rgba(0,0,0,0.41);
}

div#loader-wrapper{
	opacity: 1.0;
}

/*#fullpage {
    margin: 0 auto;
    padding-bottom: 50px;
    width: 80%;
    max-width: 978px;
}*/

.site-header h1{
	padding: 120px;
}

canvas{
	border-radius: 20px;
	height:100%;
	width:100%;
}

div#canvas-container{
	height: 80vh;
	width: calc(80vh*0.67);
	background-color: #121212;
	border-radius: 23px;
	margin-left: auto;
	margin-right: auto;
	user-select: none;

	/*-webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.55);
	-moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.55);
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.55);*/
}

#section2{
	-webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.55);
	-moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.55);
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.55);
}

@keyframes animatedBackground {
	from { background-position: 100% 0; }
	to { background-position: 0 0; }
}

#section0{
	background-image: url(/images/clouds-black.jpg);
	background-position: 0px 0px;
	background-repeat: repeat;


	animation: animatedBackground 80s linear infinite;
}

#section1{
	background-color: #FFEE58;
}

.section{
	text-align:center;
}

#ranking-table{
	height:80vh; 
	overflow:auto;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 30px;
	background-color: white;
}

#ranking-table .table{
	margin-bottom: 0 !important;
}

#ranking-table td:first-child + td + td{
	width: 8em;
}

#ranking-table td:first-child{
	margin-left: 20px;
}

/* ELEMENTO INACTIVO */
.tr-inactive{
    color: #B0BEC5;
    background: #ECEFF1;
}

caption { 
	text-align: center;
	background-color: white;
	padding-top: 0.5em;
	padding-bottom: 0.5em;

	padding-left: 0;
	padding-right: 0;

	width:4em;

	margin-left: auto;
	margin-right: auto;

	margin-top: 20px;
	margin-bottom: 20px;

	/*font-family: 'RobotoDraft', 'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif;*/
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 500;
	/*text-shadow: 2px 1px 2px #828282;*/
	text-shadow: 1px 3px 0 rgba(0, 0, 0, 0.12), 1px 2px 0 rgba(0, 0, 0, 0.24);
	font-size: 3rem;
	line-height: 2rem;
	letter-spacing: 0.01rem;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	color: #393939;
	background-color:rgba(0, 0, 0, 0.1);
	/*background-image: url(/images/clouds-yellow.jpg);*/
	background-size: 50%;
	border-radius: 4px;

}

.target-reached{
	background-color:rgba(129, 199, 132, 0.6);
}


::-webkit-scrollbar { 
    display: none; 
}

/*.card {
  background: #fff;
  border-radius: 2px;
  display: block;
  height: 300px;
  margin: 1rem;
  position: relative;
  width: 300px;
}*/

#section2{
	background-color: #64B5F6;
	/*padding: 10vh;*/
}

.circles-line{
	width: 50%;
	margin:auto;
	padding: 10vh 50px 0 50px;
	height: 40vh;
}

.left{
	float:left;
}

.right{
	float:right;
}

.circle {
  width: 12vw;
  height: 12vw;
  line-height: 200px;
  border-radius: 50%; /* the magic */
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;

  background-size: cover;

  /*text-align: center;
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 auto 40px;*/
  transition: background-color 0.5s ease; 

}

#pvp{
	background-image: url(/images/pvp-icon-no-bg.png);
	background-color: #ef5350;
}

#pve{
	background-image: url(/images/pve-icon-no-bg.png);
	background-color: #26A69A; 
}

#guilds{
	background-image: url(/images/guilds-icon-no-bg.png);
	background-color: #42A5F5; 
}

#leagues{
	background-image: url(/images/leagues-icon-no-bg.png);
	background-color: #8D6E63; 
}

/*#fp-nav ul li:first-child {display: none}*/
#fp-nav ul li:last-child {display: none}

/*.footer{
	height: 300px;
	background: black;
}*/

/*.footer h1,
.footer p,
.footer img{
	padding-top: 150px;
}*/




.fp-tooltip{
	/*background-color: rgba(0,0,0,0.4);*/
	top: 0 !important; /* -2 */

	padding: 2px 6px 2px 9px;
	margin: -5px;
	border-radius: 5px;
	text-shadow: 1px 3px 0 rgba(0, 0, 0, 0.12), 1px 2px 0 rgba(0, 0, 0, 0.24);

	text-transform: uppercase;
	/*font-family: 'RobotoDraft', 'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif;*/
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 500;

	line-height: 2rem;
	letter-spacing: 0.3rem;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

/*#fp-nav ul li span{
	-webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
        -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
}*/

#fp-nav ul li{
	width: 10px; /* default 14 */
	margin: 10px 10px; /* default 7 */
}

#fp-nav ul:hover .fp-tooltip{
    right: 20px;
    transition: opacity 0.2s ease-out;
    width: auto;
    opacity: 1;
}

#fp-nav ul .fp-tooltip{
    right: 20px !important;
    width: auto !important;
    transition: opacity 0.2s ease-in;
    transition-delay:0.8s;
    opacity: 0;
}

a.active:first-of-type + div{
    background-color: rgba(0,0,0,0.4);
}

.game-icon{
	height: 30%;
    	margin: 40px 0 20px 0;
    	border-radius: 6px;
}

.footer p{
	color: white;
	text-transform: uppercase;
	font-size: 14px;
}

/* Site Footer
---------------------------------------------------------------------------------------------------- */

#contact-on{
	display: none;
}

.site-footer a:hover {
	color: white;
	text-decoration: none;
}

a,
button,
input:focus,
input[type="button"],
input[type="submit"],
textarea:focus,
.button {
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition:    all 0.2s ease-in-out;
	-ms-transition:     all 0.2s ease-in-out;
	-o-transition:      all 0.2s ease-in-out;
	transition:         all 0.2s ease-in-out;
}



.site-footer {
	background-color: #161616;
	bottom: 0;
	display: table;
	left: 0;
	height: auto;
	line-height: 1;
	right: 0;
	text-align: center;
	width: 100%;
	z-index: -99;
	box-shadow: inset 0px 5px 0px 0px rgba(0,0,0,0.55);
}

.site-footer .widget-area {
	display: table-cell;
	vertical-align: middle;
}

.site-footer a,
.site-footer p {
	color: #fff;
}

.site-footer a:hover {
	color: #ccc;
}

.site-footer p {
	font-size: 15px;
	margin-bottom: 20px;
}

.site-footer p:last-child {
	margin-bottom: 0;
}

.site-logo{
	background: url(/images/close-code.png) no-repeat center center;
	background-size: 15vh;
	display: block;
	padding: 6vh;
	margin-left: auto;
	margin-right: auto;
}

.site-footer .site-logo {
	display: block;
	/*margin-right: auto;
	margin-left: auto;*/
	text-indent: -9999px;
	/*height: 30%;*/
    	margin: 1.5vh 0 1.5vh 0;
}
.site-footer .powered,
.site-footer .social-links,
.github-links {
	/*font-family: 'acumin-pro-condensed', sans-serif;*/
	font-weight: 500;
	letter-spacing: 1.5px;
	text-transform: uppercase;
}

.site-footer .social-links,
.github-links {
	/*font-family: 'acumin-pro-condensed', sans-serif;*/
	padding-bottom: 3.5vh;
}

.github-links{
	font-size: 10px !important;
	text-align: center;
}

.site-footer .powered {
	font-weight: 300 !important;
	font-size: 14px;
	margin-bottom: 60px;
}

.site-footer .ion-heart {
	font-size: 11px;
	margin-left: 2px;
	margin-right: 2px;
}

.site-footer .social-links,
.github-links {
	color: #999;
	font-size: 12px;
}

.site-credits{
	font-weight: 300 !important;
}

.site-credits,
.social-links{
	text-shadow: 1px 3px 0 rgba(0, 0, 0, 0.12), 1px 2px 0 rgba(0, 0, 0, 0.24);
}


/* Antiguo examples.css
*******************************************/
@CHARSET "ISO-8859-1";
/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
	text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}

strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#444;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}


/* Custom CSS
 * --------------------------------------- */
h1{
	font-size: 6em;
}
p{
	font-size: 2em;
}

.section{
	text-align:center;
}


/******* SCROLL TIP *********/
#section0 a {
	position: absolute;
	bottom: 20px;
	left: 50%;
	z-index: 2;
	display: inline-block;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
}
#section0 a:hover {
	opacity: .5;
}

#section0 a {
	padding-top: 35px;
}
#section0 a span {
	position: absolute;
	top: 0;
	left: 50%;
	width: 24px;
	height: 24px;
	margin-left: -12px;
	border-left: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-animation: sdb05 1.5s infinite;
	animation: sdb05 1.5s infinite;
	box-sizing: border-box;
}
@-webkit-keyframes sdb05 {
	0% {
		-webkit-transform: rotate(-45deg) translate(0, 0);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		-webkit-transform: rotate(-45deg) translate(-20px, 20px);
		opacity: 0;
	}
}
@keyframes sdb05 {
	0% {
		transform: rotate(-45deg) translate(0, 0);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: rotate(-45deg) translate(-20px, 20px);
		opacity: 0;
	}
}